<a href="https://colab.research.google.com/github/Deepankarkr/Code-library/blob/master/Deepankar_Second_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Essential Basic Functionality

In [0]:
import numpy as np
import pandas as pd

## There are 3 Major Data Structure in Pandas:-

*  Series
* Dataframe
* Panel

In [0]:
# Below are method to these data structure with Index
index = pd.date_range('1/1/2000', periods=8)
index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [0]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    0.627883
b    1.979833
c    1.014643
d    0.430268
e    0.277556
dtype: float64

In [0]:
df = pd.DataFrame(np.random.randn(8, 3), index=index,columns=['A', 'B', 'C'])
df

                   A         B         C
2000-01-01 -1.610057  1.606103  1.204008
2000-01-02 -1.715361  2.848846  1.218667
2000-01-03  1.267986 -0.760925 -0.372872
2000-01-04  0.985850  1.208434  0.393878
2000-01-05  2.168099  2.024202 -0.260027
2000-01-06  0.786918  1.614932 -1.539697
2000-01-07  1.726806 -0.471558  0.546871
2000-01-08 -0.574135  0.651259 -0.624069

In [0]:
wp = pd.Panel(np.random.randn(2, 5, 4), 
	items=['Item1', 'Item2'], 
	major_axis=pd.date_range('1/1/2000', periods=5),
	minor_axis=['A', 'B', 'C', 'D'])
wp.to_frame() # Panel

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

                     Item1     Item2
major      minor
2000-01-01 A      0.775830 -0.431436
           B      0.779164  0.182146
           C      1.143727 -0.897119
           D      0.125981  1.594617
2000-01-02 A      0.223653  0.138857
           B     -0.274284  0.378434
           C     -1.583574 -0.752212
           D     -0.884395 -2.150378
2000-01-03 A     -0.069694 -0.500517
           B      0.722183 -0.189410
           C      0.847460 -0.834354
           D      1.262450  0.743144
2000-01-04 A     -0.438061  2.088151
           B      0.454639  0.483217
           C     -0.716243 -0.084236
           D      0.833567 -0.327875
2000-01-05 A      0.950282 -1.541424
           B      0.926089  1.289811
           C      0.860736 -0.949053
           D     -1.317795 -0.904223

In [0]:
pd.Series(np.random.randn(1000)).head(2) #Head and Tail

0   -0.846354
1   -1.878865
dtype: float64

In [0]:
pd.Series(np.random.randn(1000)).tail(8)

992   -0.193017
993    0.530940
994    1.241788
995    0.249277
996    0.010561
997    0.762492
998    0.394080
999   -0.381489
dtype: float64

In [0]:
df.columns = [x.lower() for x in df.columns]

In [0]:
df

                   a         b         c
2000-01-01 -1.610057  1.606103  1.204008
2000-01-02 -1.715361  2.848846  1.218667
2000-01-03  1.267986 -0.760925 -0.372872
2000-01-04  0.985850  1.208434  0.393878
2000-01-05  2.168099  2.024202 -0.260027
2000-01-06  0.786918  1.614932 -1.539697
2000-01-07  1.726806 -0.471558  0.546871
2000-01-08 -0.574135  0.651259 -0.624069

* Pandas objects (Index, Series, DataFrame) can be thought of as containers for arrays, which hold the actual data and do the actual computation. For many types, the underlying array is a numpy.ndarray. However, pandas and 3rd party libraries may extend NumPy’s type system to add support for custom arrays

*  Cartesian Coordinate
*  Cylindrical Coordinate
*  Spherical Coordinate  
*  Transform from Cartesian to Cylindrical Coordinate
*  Transform from Cartesian to Spherical Coordinate
*  Transform from Cylindrical to Cartesian Coordinate
*  Transform from Spherical to Cartesian Coordinate  
*  Divergence Theorem/Gauss' Theorem
*  Stokes' Theorem
*  Definition of a Matrix
*  Properties of Matrix Operations 
*  Definition of Zero Matrix
*  Definition of Identity Matrix 
*  Properties of the Identity Matrix
*  Definition of an Inverse of a Matrix
*  Properties of Inverse Matrices
*  Definition of the Determinant  
*  Properties of Determinants
*  Definition of Triangular Matrices-  Two Null Identities
*  Equality of Matrices
*  Elementary Matrices
*  Matrix Addition
*  Matrix Multiplication
*  Properties of Matrix Multiplication
*  Scalar Multiplication
*  The Transpose of a Matrix 
*  Properties of Transposes
*  Gradient of a Scalar Field 
*  Divergence of a Vector Field
*  Curl of a Vector Field

In [0]:
dfs = pd.read_excel(open('pndsdata.xlsx', 'rb'),sheet_name='Sheet1')
dfs

    Hotel Reg ID  ... reviews.rating
0              0  ...              4
1             57  ...              0
2             58  ...              0
3             59  ...              0
4             60  ...              5
5             81  ...              4
6             96  ...              3
7             97  ...              0
8             99  ...              3
9            184  ...              4
10           247  ...              0
11           248  ...              1
12           249  ...              3
13           280  ...              0
14           281  ...              5
15           318  ...              3

[16 rows x 11 columns]

In [0]:
dfs = pd.read_excel(open('globalTemp.xlsx', 'rb'),sheet_name='10 Hottest Years')
dfs

   Ten Hottest Years on Record, 1880-2012                  Unnamed: 1
0                                    Year  Average Global Temperature
1                                    2010                      58.388
2                                    2005                       58.37
3                                    2007                      58.316
4                                    1998                      58.298
5                                    2002                       58.28
6                                    2003                      58.262
7                                    2006                      58.262
8                                    2009                      58.262
9                                    2012                      58.208
10                                   2011                      58.172